@model IEnumerable<MavenThought.PrDC.Api.ITrack>
           
@{
    ViewBag.Title = "Tracks";
}


<ul>
    @foreach (var vm in Model)
    {
        <li class="track">
            @vm.Name:
            @Html.ActionLink(@vm.NumberOfSessions.ToString(), "Detail", new { Track = @vm.Key })
        </li>
    }
</ul>
