<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommonServiceLocator" version="1.0" />
  <package id="RhinoMocks" version="3.6" />
  <package id="structuremap" version="2.6.2" />
  <package id="Moq" version="4.0.10827" />
  <package id="structuremap.automocking" version="2.6.2.0" />
  <package id="Gallio" version="3.2.601" />
  <package id="NUnit" version="2.5.10.11092" />
  <package id="maventhought.testing.nunit" version="0.3.3" />
  <package id="Castle.Core" version="2.5.2" />
  <package id="maventhought.commons" version="0.9.4" />
  <package id="SharpTestsEx" version="1.1.1" />
</packages>