@model IEnumerable<MavenThought.PrDC.Api.IPresenterSession>

@{
    ViewBag.Title = "Sessions";
}


@foreach (var session in Model) { 	
    <div class="element session">
        <p class="title">@session.Title</p>
        <p>@session.Abstract</p>
        <p><b>Track:</b>@session.Tags</p>	
        <p><b>Speaker:</b> <i>@session.Speakers</i></p>
    </div>
}
